* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.rzl-hidden {
  display: none !important;
}

.rzl-flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.rzl-flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.rzl-no-dec {
  text-decoration: none;
}

.rzl-no-li {
  list-style: none;
}

.rzl-list li {
  height: 20px;
}
